# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ArduinoFanControl/obj/Release/ArduinoFanControl.AboutBox1.resources
ArduinoFanControl/obj/Release/ArduinoFanControl.csproj.GenerateResource.Cache
ArduinoFanControl/obj/Release/ArduinoFanControl.Measure.resources
ArduinoFanControl/obj/Release/ArduinoFanControl.csproj.FileListAbsolute.txt
ArduinoFanControl/obj/Release/ArduinoFanControl.exe
ArduinoFanControl/obj/Release/ArduinoFanControl.csproj.FileListAbsolute.txt
ArduinoFanControl/obj/Release/ArduinoFanControl.csproj.FileListAbsolute.txt
ArduinoFanControl/obj/Release/ArduinoFanControl.csproj.GenerateResource.Cache
ArduinoFanControl/obj/Release/ArduinoFanControl.exe
ArduinoFanControl/obj/Release/ArduinoFanControl.pdb
ArduinoFanControl/bin/Release/ArduinoFanControl.pdb
ArduinoFanControl/bin/Release/ArduinoFanControl.exe
ArduinoFanControl/bin/Release/config.ini
ArduinoFanControl/bin/Release/profiles.ini
ArduinoFanControl/obj/Release/ArduinoFanControl.csproj.GenerateResource.Cache
ArduinoFanControl/bin/Release/ArduinoFanControl.exe
ArduinoFanControl/bin/Release/ArduinoFanControl.pdb
ArduinoFanControl/bin/Release/ArduinoFanControl.exe
